* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

main {
  margin: 4em;
  
  font-family: sans-serif;
}

main .sec1 {
  height: 100vh;
  padding-top: 1em;
  margin-top: 20px;
  margin-bottom: 2em;
  padding-bottom: 0.8em;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1fr);
  place-content: center center;
  text-align: center;
}

main .sec1 div h2 {
  padding-bottom: 1em;
  font-size: 64px;
  color: #243da4;
}

main .sec1 div p {
  padding-bottom: 1em;
  font-size: 20px;
  color: #243da4;
  color: #878787;
  font-weight: 700;
  position: relative;
  bottom: 2.5em;
}

main .sec1 div img {
  width: 100%;
  height: 75vmin;
  padding-top: 2em;
}

main .sec1 div input {
  width: 70%;
  height: 56px;
  outline: none;
  border-radius: 19px;
  padding-left: 1em;
  background-color: #d6d6d6;
  color: white;
  outline: none;
  border: 1px solid white;
}

main .sec1 div button {
  width: 18%;
  height: 56px;
  border: none;
  position: relative;
  right: 5em;
  background: #223cac;
  border-radius: 19px;
  top: 1.7em;
}

main .products h2 {
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  color: #82858f;
  font-weight: 600;
  justify-content: center;
  padding-bottom: 1em;
  cursor: pointer;
  position: relative;
  text-align: center;
}

main .products h2:first-child::after {
  content: "";
  width: 15%;
  height: 3px;
  position: absolute;
  top: 62%;
  right: 45%;
  background: #223cac;
  transform: rotateX(15deg);
}

main .products h2:first-child {
  color: #243da4;
}

main .products {
  box-shadow: 2px 2px 4px 1px grey;
  padding-bottom: 1em;
  border-radius: 14px;
  padding-top: 1em;
}

main .products section .general img {
  width: 100%;
  height: 40vmin;
}

main .products section .general .audioDetails {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: inherit;
  column-gap: 20%;
  row-gap: 0.6em;
}
main .products section .general .audioDetails .fa{
  color: rgba(221, 221, 14, 0.849);
  outline: brown;
}

main .products section .general {
  display: grid;
  grid-template-columns: minmax(100px, 25%) minmax(100px, 25%) minmax(
      100px,
      25%
    ) minmax(100px, 25%);
  width: inherit;
  padding-top: 20px;
  place-content: center center;
  padding-left: 1.5em;
  padding-bottom: 4.5em;
  grid-template-rows: max-content;
}

main .products section h3 {
  color: #82858f;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 15px;
  margin-right: 4em;
  padding-bottom: 0.8em;
  margin-left: 3em;
  box-sizing: border-box;
}

main .products section .general > div:nth-of-type(n + 1) {
  border: 1px solid grey;
  margin-right: 2.75em;
  border: 2px solid #cacaca;
  border-radius: 3px;
  padding-bottom: 1em;
}

main .products section .general > div:nth-of-type(n + 1) > div {
  padding-left: 1em;
  padding-top: 0.5em;
}

main .products section .general > div:nth-of-type(n + 1) > div > h4 {
  font-weight: 600;
  color: #68718e;
  font-size: 24px;
}

main .products section .general > div:nth-of-type(n + 1) > div > p {
  font-weight: 600px;
  color: #7a7b81;
}

main .products section .general > div:nth-of-type(n + 1) > div > h5 {
  font-weight: 600px;
  color: #a0a3ae;
  font-size: 13px;
}

footer {
  margin-top: 65px;
  background-color: rgb(15, 19, 118);
}
footer .choose {
  margin: 20px;
}
footer .choose h2 {
  padding: 20px;
  color: white;
}
footer .chose {
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
footer .chose h3 {
  color: white;
  padding: 10px;
  margin: 10px;
}
footer .client {
  background-color: white;
  padding: 20px;
}
footer .client h2 {
  color: #04096a;
  padding: 20px;
}
footer .client .clients {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
footer .client .clients p a {
  padding: 10px;
  color: #04096a;
  text-decoration: none;
}
footer .client .clients p a img {
  width: 50px;
  height: 50px;
 }
footer .contact {
  padding: 20px;
}
footer .contact .contactdiv {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
}
footer .contact .contactdiv h3 {
  color: white;
  padding: 10px;
}
footer .contact .contactdiv address {
  color: white;
}
footer .contact .input {
  position: relative;
}
footer .contact .contactdiv input[type="email"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
footer .contact .contactdiv button {
  background-color: #1d18fe;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 7px;
}
footer .line {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer #line {
  margin: 5px;
  width: 90%;
  border: 1px solid white;
}
footer h4 {
  color: white;
  padding: 20px;
  text-align: center;
}
footer .fa {
  color: white;
  font-size: 20px;
  text-align: center;
}
footer .icon-last {
  padding: 1px 10px;
  text-align: left;
}


@media (max-width:1024px) {
  main .products section .general {
      grid-template-columns: minmax(200px, 50%) minmax(200px, 50%);
      width: inherit;
      padding-top: 20px;
      place-content: center center;
      row-gap: 1.5em;
  }
  footer .contact {
      grid-template-columns: 1fr;
      height: 350px;
      margin-top: 1em;
      width: 100%;
  }
  main .sec1 {
      grid-template-columns: 1fr;
  }
  main .sec1 div:last-child {
      display: none;
  }
}

@media (min-width:390px) and (max-width:700px) {
  main .products section .general {
      grid-template-columns: minmax(200px, 100%);
      place-content: center center;
      grid-template-rows: max-content;
      row-gap: 1.5em;
  }
  main .products section .general .audioDetails {
      grid-template-columns: repeat(2, 80%);
      width: inherit;
      column-gap: 0%;
      row-gap: .6em;
  }
  footer .contact {
      grid-template-columns: 1fr;
      height: 400px;
      margin-top: 1em;
  }
  main .sec1 {
      padding-top: 1em;
      margin-bottom: 2em;
      padding-bottom: .8em;
      grid-template-columns: minmax(200px, 1fr);
  }
  main .sec1 div h2 {
      font-size: 50px;
  }
  main .sec1 div img {
      padding-top: 0em;
      height: 50vmin;
  }
  main {
      margin: 0 1.5em;
  }
  main .products section .general img {
      height: 50vmin;
  }
}

@media (min-width:100px) and (max-width:390px) {
  main .products section .general {
      grid-template-columns: minmax(200px, 100%);
      padding-top: 20px;
      place-content: center center;
      row-gap: 1em;
  }
  main .products section .general .audioDetails {
      grid-template-columns: 100%;
      width: inherit;
      column-gap: 20%;
      row-gap: .6em;
  }
  footer .contact {
      grid-template-columns: 1fr;
      height: 350px;
  }
  main .sec1 {
      padding-top: 1em;
      margin-bottom: 2em;
      padding-bottom: .8em;
      grid-template-columns: minmax(200px, 1fr);
  }
  main .sec1 div h2 {
      color: #243DA4;
  }
  main .sec1 div img {
      padding-top: 0em;
      height: 50vmin;
  }
  main {
      margin: 0 1em;
  }
  main .sec1 div input {
      width: 70%;
      height: 56px;
  }
  main .sec1 div button {
      height: 15vmin;
  }
}

@media (max-width: 1024px) {
  
  

  .more-description {
    flex-direction: column;
    align-items: center;
  }
  .more-description .text {
    width: 90%;
    margin: 20px;
  }
  .who-we-are {
    margin: 5px;
  }
  .wrapper p {
    font-weight: 600;
    font-size: 40px;
    line-height: 90px;
    width: 100%;
    color: #0f1376;
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .toggler{
    display: block;
}

  

  .wrapper {
    /* flex-direction: column-reverse; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* main .sec1 div p{
      font-size: 50px;
    } */
  .wrapper .young {
    height: 235px;
    width: 356px;
    border-radius: 0px;
    display: none;
  }
  .who-we-are p {
    margin: 10px 20px;
  }
  .more-description {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
}
@media (max-width: 992px) {
  header {
    background-image: url("../images/about-boxes-bg.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background: steel;
    background-size: cover;
  }
  footer .contact .contactdiv input[type="email"] {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
 
  .wrapper p {
    font-size: 50px;
  }

  .who-we-are {
    margin: 10px;
  }
  .more-description {
    align-items: center;
  }
  .more-description .text {
    width: 90%;
    margin: 20px;
  }
}
@media (max-width: 480px) {
  .more-description img {
    width: 300px;
  }
}

@media (max-width: 600px) {
}
@media (max-width: 390px) {
  /* main .sec1 div h2 {
    font-size: 25px;
  }
  main .sec1 div p {
    font-size: 18px;
  } */
}
@media (min-width: 700px) and (max-width: 1050px) {
  main .products section .general {
    grid-template-columns: minmax(200px, 50%) minmax(200px, 50%);
    width: inherit;
    padding-top: 20px;
    place-content: center center;
    padding-left: 1.5em;
    padding-bottom: 4.5em;
    grid-template-rows: max-content;
    row-gap: 1.5em;
  }
  footer .contact {
    grid-template-columns: 1fr;
    height: 350px;
    margin-top: 1em;
    width: 100%;
  }
}

@media (min-width: 390px) and (max-width: 700px) {
  main .products section .general {
    grid-template-columns: minmax(200px, 100%);
    place-content: center center;
    grid-template-rows: max-content;
    row-gap: 1.5em;
  }
  main .products section .general .audioDetails {
    grid-template-columns: repeat(2, 80%);
    width: inherit;
    column-gap: 0%;
    row-gap: 0.6em;
  }
  footer .contact {
    grid-template-columns: 1fr;
    height: 400px;
    margin-top: 1em;
  }
  main .sec1 {
    padding-top: 1em;
    margin-bottom: 2em;
    padding-bottom: 0.8em;
    grid-template-columns: minmax(200px, 1fr);
  }

  main .sec1 div img {
    padding-top: 0em;
    height: 50vmin;
  }
  main {
    margin: 0 1.5em;
  }
  main .products section .general img {
    height: 50vmin;
  }
}

@media (min-width: 100px) and (max-width: 390px) {
  main .products section .general {
    grid-template-columns: minmax(200px, 100%);
    padding-top: 20px;
    place-content: center center;
    row-gap: 1em;
  }
  main .products section .general .audioDetails {
    grid-template-columns: 100%;
    width: inherit;
    column-gap: 20%;
    row-gap: 0.6em;
  }
  footer .contact {
    grid-template-columns: 1fr;
    height: 350px;
  }
  /* main .sec1 {
      padding-top: 1em;
      margin-bottom: 2em;
      padding-bottom: .8em;
      grid-template-columns: minmax(200px, 1fr);
  } */
  main .sec1 div h2 {
    color: #243da4;
  }
  main .sec1 div img {
    padding-top: 0em;
    height: 50vmin;
  }
  main {
    margin: 0 1em;
  }
  main .sec1 div input {
    width: 70%;
    height: 56px;
  }
  main .sec1 div button {
    height: 15vmin;
  }
}
