@import url('../assets/css/navbar.css');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

.contin{
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  width: 1000px;
  max-width: 100%;
  margin:50px auto ;
  padding-top: 70px;
  
  
}
.able{
  background-color: rgb(56, 53, 53);
  display: flex;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  /* border: 2px solid black; */
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.login{
  text-align: center;
}
.a{
  
  padding-left: 100px;
  display: flex;
  list-style-type: none;
}
.a li{
    padding: 20px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}
.a li a{
  padding: 20px;
  color: white;
  text-decoration: none;
}
.bg33{
    width: 50%;
    
    padding: 30px;
    max-width: 100%;
    background-image: url('../image/bg1.jpg');
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.men{
   background-color: transparent;
   margin: 10px;
   padding: 20px;
    width: 50%;
    font-size: 19px;
    color: whitesmoke;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid white;
}
a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}
.last{
  
    padding: 10px 15px;
    color: midnightblue;
    font-size: 19px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.bg33 .jk{
    font-size: 30px;
    color: white;
}
.bg33{
    color: white;
    font-size: 20px;
}
.ty{
    text-align: center;
    padding: 5px;
}
.icly{
    text-align: center;
}
.icly .fa{
    color: rgb(120, 120, 231);
    padding: 10px;
    cursor: pointer;
}
@media (max-width:768px){
  .bg33 {
      width: 50%;
      padding: 30px;
      max-width: 100%;
      background-image: url(../image/bg1.jpg);
      height: 100%;
      background-size: cover;
      border-radius: 10px;
      background-repeat: no-repeat;
      display: none;
  }
  .a {
      padding-left: 10px;
      display: block;
  }
  .able {
      background-color: rgb(56, 53, 53);
      display: flex;
      padding: 10px;
      width: auto;
      border-radius: 10px;
      /* border: 2px solid black; */
      height: 90vh;
      box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  }
}


@media (max-width: 850px) {
  .image-class {
    display: none;
  }
}
